/* global section  */
:root {
    --main-color: #03a9f4;
}

.color-main {
    color: var(--main-color);
}

body {
    font-family: 'Harmattan', sans-serif;
    font-family: 'Roboto', sans-serif;

}

@media (max-width: 768px) {
    .landing-page .header-area .nav-show {
        color: var(--main-color);
        background-color: white;
        border: none;
        border-radius: 2px;
        margin-right: 50px;
        width: 60px;
        height: 40px;
        font-size: 30px;
        cursor: pointer;
    }

    .landing-page .header-area .links {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100vw;
        background-color: white;
        max-width: 50vw;
        transition: all 0.7s;
        z-index: 10000;
    }

    .landing-page .header-area .links .close-icon {
        color: black;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        font-size: 30px;
        background-color: transparent;
        border: none;
    }

    .landing-page .header-area .links ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .landing-page .header-area .links li {
        display: block;
        border-bottom: 2px solid var(--main-color);
    }


    .landing-page .header-area .links li a {
        color: black;
        text-decoration: none;
        transition: all 0.3s;
        font-weight: bold;
    }

    .landing-page .header-area .links li a:hover, .landing-page .header-area .links li a.active {
        color: var(--main-color);
    }

    .nav-layout {
        top: 100px;
        right: -40px;
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.459);
        display: none;
        z-index: 9999;
    }
}


@media (min-width: 769px) {
    .landing-page .header-area .links li {
        display: inline-block;
    }

    .landing-page .header-area .links li a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
    }

    .landing-page .header-area .links li a:hover, .landing-page .header-area .links li a.active {
        color: var(--main-color);
    }

    .landing-page .header-area .links .close-icon {
        display: none;
    }

    .landing-page .header-area .nav-show {
        display: none;
    }
}


/* setting box  */
.setting-box {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    min-height: 100vh;
    background-color: #fff;
    transition: 0.3s;
    z-index: 999;
}

.setting-box .setting-icon {
    background-color: rgb(255, 255, 255);
    color: var(--main-color);
    position: absolute;
    top: 100px;
    right: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    z-index: 999;

}

.setting-box-open {
    left: 0;

}

/* color setting */
.setting-body .color, .setting-body .random-image-box {
    width: 100%;
    text-align: center;
}

.setting-body .color h4 {}

.setting-body .color ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

}

.setting-body .color li {
    display: inline-block;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    cursor: pointer;
}

.setting-body .color li.active {
    opacity: 1 !important;
}

.setting-body .color li:first-child {
    background-color: #03a9f4;
    opacity: 0.3;
}

.setting-body .color li:nth-child(2) {
    background-color: #ADA2FF;
    opacity: 0.3;
}

.setting-body .color li:nth-child(3) {
    background-color: #FB2576;
    opacity: 0.3;
}

.setting-body .color li:nth-child(4) {
    background-color: #ff6c28;
    opacity: 0.3;
}

/* color setting */
/* random image setting  */
.setting-body .random-image-box .r-image-div {
    display: flex;
    justify-content: space-evenly;
}

.setting-body .random-image-box .r-image-div .yes,.setting-body .random-image-box .r-image-div .no {
    background-color: var(--main-color);
    border: none;
    width: 50px;
    height: 39px;
    opacity: 0.6;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.setting-body .random-image-box .r-image-div .active{
    opacity: 1 !important;
}


.setting-body .random-image-box input {
    accent-color: var(--main-color);
}

/* random image setting  */
/* setting box  */
/* global section  */


/* landing-page  */
.landing-page {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../pic/R.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}




.landing-page .header-area {
    display: flex;
    width: 100%;
    color: #fff;
    padding-top: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.landing-page .header-area .logo {
    width: 100%;
    padding: 0 0 0 50px;
    font-weight: bold;
    font-size: 25px;
}

.landing-page .header-area .links {
    width: 100%;
    text-align: right;
    padding: 0 50px 0 0;
    margin: 0;
}

.landing-page .header-area .links li {
    margin: 0 5px;
    list-style-type: none;
}






.introduction-area {
    width: auto;
    color: white;
    text-align: center;

}

.introduction-area h1 span {
    letter-spacing: 1px;
    word-spacing: 2px;

}

.introduction-area h1 span {
    color: var(--main-color);
}

.introduction-area p {
    padding: 0 14%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
}

/* landing-page  */