/* global section  */
:root {
    --main-color: #03a9f4;
}

.main-color {
    color: var(--main-color);
}

body {
    font-family: 'Harmattan', sans-serif;
    font-family: 'Roboto', sans-serif;

}





/* setting box  */
.setting-box {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    min-height: 100vh;
    background-color: #fff;
    transition: 0.3s;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.setting-box .setting-icon {
    background-color: rgb(255, 255, 255);
    color: var(--main-color);
    position: absolute;
    top: 137px;
    right: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    z-index: 999;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.setting-box-open {
    left: 0;

}

.setting-body {
    overflow-y: scroll;
    height: 100vh;
}

/* color setting */
.setting-body .color, .setting-body .random-image-box {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}


.setting-body .color ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

}

.setting-body .color li {
    display: inline-block;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    cursor: pointer;
}

.setting-body .color li.active {
    opacity: 1 !important;
}

.setting-body .color li:first-child {
    background-color: #03a9f4;
    opacity: 0.3;
}

.setting-body .color li:nth-child(2) {
    background-color: #ADA2FF;
    opacity: 0.3;
}

.setting-body .color li:nth-child(3) {
    background-color: #FB2576;
    opacity: 0.3;
}

.setting-body .color li:nth-child(4) {
    background-color: #ff6c28;
    opacity: 0.3;
}

/* color setting */
/* random image setting  */
.setting-body .random-image-box .r-image-div {
    display: flex;
    justify-content: space-evenly;

}

.setting-body .random-image-box .r-image-div .yes, .setting-body .random-image-box .r-image-div .no {
    background-color: var(--main-color);
    border: none;
    width: 50px;
    height: 39px;
    opacity: 0.6;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.setting-body .random-image-box .r-image-div .active {
    opacity: 1 !important;
}


.setting-body .random-image-box input {
    accent-color: var(--main-color);
}

/* random image setting  */
/* Start bullet Link */
.setting-body .bullit-setting, .reset-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.checkbox-wrapper-3 .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: var(--main-color);
    opacity: .6;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.checkbox-wrapper-3 #cbx-3:checked+.toggle:before {
    background: var(--main-color);
    opacity: .6;
}

.checkbox-wrapper-3 #cbx-3:checked+.toggle span {
    background: var(--main-color);
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.checkbox-wrapper-3 #cbx-3:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

/* End bullet Link */


/* Start reset option  */
.reset-option button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 4px 7px;
    cursor: pointer;
}

/* End reset option  */

/* setting box  */


/* global section  */


/* landing-page  */
.landing-page {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../pic/R.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
}




.landing-page .header-area {
    display: flex;
    width: 100%;
    color: #fff;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;

}


.landing-page .header-area .logo {
    width: 100%;
    padding: 0 0 0 50px;
    font-weight: bold;
    font-size: 25px;
}

.landing-page .header-area .links {
    width: 100%;
    text-align: right;
    padding: 0;
    text-align: left;
    margin: 0;
}

.landing-page .header-area .links li {
    margin: 0 5px;
    list-style-type: none;
}



.landing-page .header-area .links li {
    display: inline-block;
}

.landing-page .header-area .links li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}



.landing-page .header-area .links li a:hover, .landing-page .header-area .links li a.active {
    color: var(--main-color);
}

.landing-page .header-area .links .close-icon {
    display: none;
}

.landing-page .header-area .nav-show {
    display: none;
}

.active .header-area {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.active .header-area .links li a {
    color: black;
    font-weight: 500;
}

.active .header-area .logo {
    color: black;
}



.introduction-area {
    width: auto;
    color: white;
    text-align: center;

}

.introduction-area h1 span {
    letter-spacing: 1px;
    word-spacing: 2px;

}

.introduction-area h1 span {
    color: var(--main-color);
}

.introduction-area p {
    padding: 0 14%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
}

/* landing-page  */




/* start service section  */
.service {
    text-align: center;
    margin: 40px 0;

}

.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 20px;
    margin-top: 20px;

}

.service .container div {
    padding: 10px 5px;
    margin: 5px 10px;
    border-left: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    position: relative;
}

.service .container div::after {
    content: "";
    width: 0.5px;
    height: 80%;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}

.service .container div::before {
    content: "";
    height: 0.5px;
    width: 90%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.service .ser-icon {
    font-size: 30px;
    color: var(--main-color);
}

.service h3 {}

.service p {
    color: #000000b0;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

.service hr {
    width: 50%;
    transition: 0.3s;
}


.service .container :nth-child(1):hover hr, .service .container :nth-child(2):hover hr, .service .container :nth-child(3):hover hr, .service .container :nth-child(1):hover::before, .service .container :nth-child(2):hover::before, .service .container :nth-child(3):hover::before {
    width: 100%;

}

.service .container :nth-child(1):hover::after, .service .container :nth-child(2):hover::after, .service .container :nth-child(3):hover::after {
    height: 100%;

}

/* end service section  */



/* start skill section  */
.skills, .time-line {
    background-color: #f6f6f6;
    margin: 30px 0;
    padding: 60px 0;
    text-align: center;
}

.skills .container {
    background-color: white;

}

.skills .container .skills-section {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .container .skills-section h3 {
    margin-left: 5px;
    min-width: 100px;
}

.skills .container .skills-section .skill-progress {
    width: 100%;
    /* background-color: var(--main-color); */
    /* opacity: 0.3; */
    height: 40px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.skills .container .skills-section .skill-progress span {
    content: "";
    width: 0;
    background-color: var(--main-color);
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    transition: all 0.6s;
}

.skills .container .skills-section .skill-progress::before {
    content: "";
    width: 100%;
    background-color: var(--main-color);
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}

/* end skill section  */

/* start gallery section  */
.gallery {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}

.gallery .container {}

.gallery .container .image {
    margin: 50px 0;
}

.gallery .container .image img {
    width: 250px;
    margin: 3px;
    padding: 1.5px;
    /* border: solid .5px black; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}





/* start gallery popup */
.popup-gallery {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;

}



.popup-gallery .popup-layout {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-gallery .popup-body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 50px);
    max-height: 100%;
    background-color: white;
    z-index: 2;
    padding: 5px;
}

.popup-gallery img {
    max-width: 100%;
    max-height: 85%;
}

.popup-gallery h3 {
    text-align: center;
    color: var(--main-color);
}

.popup-gallery p {
    color: white;
    background-color: var(--main-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: -15px;
    right: -15px;
    text-align: center;
    margin: 0;
    line-height: 30px;
    cursor: pointer;
}

/* end gallery popup */
.time-line {
    position: relative;
    overflow: auto;

}

.time-line .year {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 5px;
}

.one-year {
    position: relative;
    margin: 20px;
}

.time-line .content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: calc(100% - 50px);
    background-color: var(--main-color);

}

.time-line .content .time-left, .time-line .content .time-right {
    background-color: white;
    padding: 10px;
    max-width: 40%;
    position: relative;
}

.time-line .content .time-left {
    float: left;
    margin: 20px 0px 0px -13px
}

.clearfix {
    clear: both;
    display: table;
}

.time-line .content .time-right {
    float: right;
    margin: 20px -13px 0px 0px
}

.time-line .content .time-right ::after, .time-line .content .time-left ::after {
    content: "";
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.time-line .content .time-right ::after {
    left: -13px;
    border-right: 13px solid var(--main-color);
    border-left: 13px solid transparent;
}

.time-line .content .time-left ::after {
    right: -41px;
    border-left: 13px solid var(--main-color);
    border-right: 13px solid transparent;
}




/* end gallery section  */
/* Start features */
.features {
    text-align: center;
    margin: 20px 0;

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .feature {}

.features .feature p {
    color: #545454;
    letter-spacing: 1px;
    line-height: 20px;
}

.features .feature h3 {
    position: relative;
}

.features .feature h3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 19%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: var(--main-color)
}

/* End features */

/* Start testimonial */
.testimonial {
    width: 100%;
    height: 100vh;
    margin: 50px 0;
    text-align: center;
}

.testimonial h2 {
    color: var(--main-color);
    position: relative;
}

.testimonial h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 10%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: var(--main-color);
}

.testimonial .ts-body {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial .ts-body .ts-cart {
    min-width: 50%;
    width: 90%;
    min-height: 50%;
    height: 300px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    overflow: hidden;
}

.testimonial .ts-body .ts-cart::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    max-width: 80px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: var(--main-color);
}

.testimonial .ts-body .ts-cart .ts-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    max-width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.testimonial .ts-body .ts-cart .ts-button .ts-button-down {
    opacity: .5;
}

.testimonial .ts-body .ts-cart .ts-button div {
    color: white;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
}

.testimonial .ts-body .ts-cart::after {
    content: "";
    position: absolute;
    top: -125px;
    left: -125px;
    width: 250px;
    height: 250px;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50%;
}

.testimonial .ts-body .ts-cart .ts-person {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    color: #505050;
    transition: all .5s;
    top: 0;
}

.testimonial .ts-body .ts-cart .ts-person .ts-header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;

}

.testimonial .ts-body .ts-cart .ts-person .ts-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial .ts-body .ts-cart .ts-person p {
    font-size: 95%;
    padding-bottom: 10%;
}

.testimonial .ts-body .ts-cart .ts-person h4 {
    font-size: 15px;
    margin-top: -15px;
}

/* end testimonial */


/* Start contact-us */
.contact-us {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../pic/contact-us.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact-us .right-input, .contact-us .left-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us .right-input input {
    opacity: .5;
    width: 90%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
}

.contact-us .right-input input:focus-visible,.contact-us .left-input textarea:focus-visible {
    opacity: 1;
    outline: none;
}

.contact-us .left-input textarea {
    opacity: .5;
    margin-top: 55px ;
    margin-bottom: 15px ;
    width: 90%;
    height: 181px;
    resize: none;
    
}
.contact-us .left-input input{
    width: 128px;
    height: 38px;
    font-size: 20px;
    opacity: .8;
    cursor: pointer;
}


/* End contact-us */

/* scroll to top button  */
.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -60px;
    right: 40px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* scroll to top button  */


/* Start Bullet section  */
.bullet {
    position: fixed;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    z-index: 500;
}

.bullet .bullet-point {
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 21px 0;
    cursor: pointer;
}

.bullet .active {
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bullet .bullet-point:hover .bullet-comment {
    display: block;

}

.bullet .bullet-point .bullet-comment {

    position: absolute;
    left: -125px;
    top: -6px;
    background-color: var(--main-color);
    color: white;
    padding: 3px;
    border-radius: 5px;
    width: 106px;
    display: none;
    pointer-events: none;
}

.bullet .bullet-point .bullet-comment::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 10px solid var(--main-color);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width: 0;
    height: 0;
}

/* End  Bullet section  */

/* start media  */
/* navbar media  */
@media (max-width: 991px) {
    .landing-page .header-area .nav-show {
        color: var(--main-color);
        background-color: white;
        border: none;
        border-radius: 2px;
        margin-right: 50px;
        width: 60px;
        height: 40px;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    .landing-page .header-area .links {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100vw;
        background-color: white;
        max-width: 50vw;
        transition: all 0.7s;
        z-index: 10000;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        overflow-y: scroll; 
        

    }

    .landing-page .header-area .links .close-icon {
        color: black;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        font-size: 30px;
        background-color: transparent;
        border: none;
        display: inline-block;
    }

    .landing-page .header-area .links ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .landing-page .header-area .links li {
        display: block;
        border-bottom: 2px solid var(--main-color);
    }


    .landing-page .header-area .links li a {
        color: black;
        text-decoration: none;
        transition: all 0.3s;
        font-weight: bold;
    }

    .landing-page .header-area .links li a:hover, .landing-page .header-area .links li a.active {
        color: var(--main-color);
    }

    .nav-layout {
        top: 137px;
        right: -40px;
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.459);
        display: none;
        z-index: 9999;
    }

    .popup-gallery .popup-body {
        min-width: calc(100% - 50px);
        max-height: 95%;

    }


}

/* navbar media  */
@media (min-width: 300px) {
    .container {
        max-width: 300px;
        margin: auto;
        padding: 0 5px;
    }

    .contact-us .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: auto;
    }

    .contact-us .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: auto;
    }

    .contact-us .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
    }
}



@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: auto;
    }

    .contact-us .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    }

}

@media (min-width:1200) {

    .container {
        max-width: 1140px;
        margin: auto;

    }

    .contact-us .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
    }

}







/* end media  */